@*throught IEnumerable we will be able to get the list of data from HelloWorld model*@
@model IEnumerable<HelloWorld>

<h1>Hello World!</h1>

<h3>@ViewBag.Message</h3>

<a asp-action="Create" class="btn btn-info">
    Create
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HelloWorldId)
            </th>
            <th>
                @*These are the html helper class ex: HTML.DisplayNameFor()*@
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnumMaritalStatus)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.HelloWorldId)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.EnumMaritalStatus)
                </td>
                <td>
                    @*asp-rout-id is to pass parameter, where "id" is the arguement given in the controller, the name can be anything in place of id, but same thing has to be mentioned in view and controller*@
                    <a asp-action="Edit" asp-route-id="@item.HelloWorldId">Edit</a>
                </td>
            </tr>
        }
    </tbody>

</table>